@charset "utf-8";
.project {background-color: #000000;}
.contentfull {width: 100%;}
.breakhero {min-height: 500px;}
.breakhuge {min-height: 394px;}
.breaklarger {min-height: 70px;}
.breaksec518 {min-height: 518px;}
.breaksec815 {min-height: 815px;}
.breaksec575 {min-height: 575px;}
.contentfull .sec1 {background: url(../projects/96sec/img/sec1bg.jpg);background-size: 100% auto;background-repeat: no-repeat;}
.contentfull .sec2 {background: url(../projects/96sec/img/sec2bg.jpg);background-size: auto 100%;background-repeat: no-repeat;}
.contentfull .sec3 {background: url(../projects/96sec/img/sec3bg.jpg);background-size: auto 100%;background-repeat: no-repeat;}
.contentfull .sec4 {background: url(../projects/96sec/img/sec4bg.jpg);background-size: auto 100%;background-repeat: no-repeat;}
.contentfull .sec5 {background: url(../projects/96sec/img/sec41.jpg);background-size: 100% auto;background-repeat: no-repeat;}
.contentfull .sec6 {background: url(../projects/96sec/img/sec42.jpg);background-size: 100% auto;background-repeat: no-repeat;}
.contentfull .sec7 {background: url(../projects/96sec/img/sec43.jpg);background-size: 100% auto;background-repeat: no-repeat;}
.contentfull .sec8 {background: url(../projects/96sec/img/sec44.jpg);background-size: 100% auto;background-repeat: no-repeat;}
.contentfull .sec9 {background: url(../projects/96sec/img/sec45.jpg);background-size: 100% auto;background-repeat: no-repeat;}
.projectline {position: relative; top: 2px;}
.project iframe {position: relative; top: 3px;}
/*typography for this project*/
h5 { color: #ffffff; font-size:36px; line-height: 36px; font-family: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif; font-weight:100; text-align: center; text-transform: uppercase; }
h6 { color: #ffffff; font-size:18px; line-height: 30px; font-family: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif; font-weight:100; text-align: center; text-transform: uppercase; }
p.projectsubtitle { color: #ffffff; line-height: 22px; text-align: center; font-family: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif; font-weight:300; padding: 0px;}
p.projectsubtitle2 { font-size: 18px; color: #ffffff; line-height: 27px; text-align: center; padding: 0px; font-weight: 100; font-family: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif; }
p.projecttext { color: #ffffff; line-height: 22px; text-align: justify; font-family: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif; font-weight:300; padding: 0px;}
p.grey { color: #a6a6a6}