@charset "utf-8";
.project {background-color: #ffffff;}
.contentimg1 {text-align: center;}
.contentimg1 img {height: 120px; width: auto;}
.contentimg2 {text-align: center;}
.contentimg2 img {height: 160px; width: auto; margin-top: 10px;}

/*typography for this project*/
h5 { color: #4d4d4d; font-size:36px; line-height: 36px; font-family: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif; font-weight:100; text-align: center; text-transform: uppercase; }
h6 { color: #4d4d4d; font-size:18px; line-height: 30px; font-family: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif; font-weight:100; text-align: center; text-transform: uppercase; }
p.projectsubtitle { color: #4d4d4d; line-height: 22px; text-align: center; font-family: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif; font-weight:300; padding: 0px;}
p.projectsubtitle2 { font-size: 18px; color: #4d4d4d; line-height: 27px; text-align: center; padding: 0px; font-weight: 100; font-family: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif; }
p.projecttext { color: #4d4d4d; line-height: 22px; text-align: justify; font-family: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif; font-weight:300; padding: 0px;}
p.grey { color: #4d4d4d}