@charset "utf-8";
.project {background-color: #242a28; text-align: center;}
.project .animation {background-color: #ffffff; text-align: center;}
.contentfull {width: 100%;}
.project .titles img {height: 14px; width: auto;}
.projectline {position: relative; top: 2px;}
.project iframe {position: relative; top: 3px;}
.break {min-height: 50px;}
.break120 {min-height: 120px;}
hr { margin-left:8%; width:84%; border: 0; height: 0; border-top: 1px solid rgba(0, 0, 0, 0.1); border-bottom: 2px solid rgba(50, 55, 59, 1.0);}
/*typography for this project*/
h5 { color: #ffffff; font-size:36px; line-height: 36px; font-family: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif; font-weight:100; text-align: center; text-transform: uppercase; }
h6 { color: #ffffff; font-size:18px; line-height: 30px; font-family: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif; font-weight:100; text-align: center; text-transform: uppercase; }
p.projectsubtitle { color: #ffffff; line-height: 22px; text-align: center; font-family: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif; font-weight:300; padding: 0px;}
p.projectsubtitle2 { font-size: 18px; color: #ffffff; line-height: 27px; text-align: center; padding: 0px; font-weight: 100; font-family: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif; }
p.projecttext { color: #ffffff; line-height: 22px; text-align: justify; font-family: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif; font-weight:300; padding: 0px;}
p.grey { color: #a6a6a6}
