body {
  height: 100%;
  background-color: #fdfdfd;
}

h1 {
  font-family: Avenir Next, Helvetica Neue, Helvetica, sans-serif;
  font-size: 35px;
  font-weight: 100;
  text-align: left;
  color: #2b2421;
  line-height: 60px;
}

h3 {
  font-family: "HelveticaNeue-UltraLight", "Helvetica Neue UltraLight", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 100;
  font-size: 65px;
  text-align: left;
  color: #2b2421;
}

h4 {
  font-family: Avenir Next, Helvetica Neue, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 18px;
  color: white;

}

h5 {
  font-family: Avenir Next, Helvetica Neue, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #2b2421;
  opacity: 1;
  text-align: left;
  margin-top: 0px;
  text-transform: uppercase;
}

h6 {
  font-family: Avenir Next, Helvetica Neue, Helvetica, sans-serif;
  font-size: 10px;
  color: #2b2421;
  opacity: 1;
  text-align: center;
}

p {
    font-family: Avenir Next, Helvetica Neue, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #2b2421;
    opacity: 1;
    text-align: left;
}

/* This is the section for grids*/

.row {
  margin-bottom: 20px;
}

.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}

[class*="col-"] {
  padding-top: 0px;
  padding-bottom: 0px;
  border: none;
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

/* This is the end of grid section*/

.top-liner {
  display: inline-block;
  width: 100%;
  height: 3px;
  background-color: #2b2421;
  margin: 0 0 0 0;
  position: relative;
  z-index: 999;
  padding: 0 0 0 0;
  top: -12px;
}

/* Here starts the hero unit, which is the cover page */

.hero-unit {
  width: 100%;
  height: 100%;
  min-height: 700px;
  position: relative;
  top: -20px;
  z-index: -999;
  background: #000000 url(images/cover.jpg) center top no-repeat;
  background-size: cover;
}

.menu {
  width: 147px;
  left: 45px;
  position: fixed;
  top: 60px;
  z-index: 999;

}

.name {
  display: block;
  width: 100%;
  position: relative;
  height: 65px;
  border-top: 2px solid #2b2421;
  border-bottom: 2px solid #2b2421;
  opacity: 0.9;
}

.name h3 {
  position: relative;
  top: -25px;
}

.nav-bar {
  width: 187px;
  position: relative;
  left: -40px;
  top: 18px;
}

.nav-bar li {
  width: 147px;
  margin-top: 10px;
  margin-bottom: 10px;
  list-style-image: none;
  list-style-type: none;
  list-style-position: outside;
  cursor: pointer;
  display: list-item;
  font-family: Avenir Next, Helvetica Neue, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #2b2421;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  line-height: 22px;
  opacity: 1;
}

.nav-bar li a {
  color: #2b2421;
  opacity: 0.8;
  display: block;
  width: 100%
}

.nav-bar li:hover {
  text-align: right;
  background: #2b2421;
  color: #ffffff;
  font-weight: 300;
  opacity: 1;
}

.nav-bar li:hover a{
  color: #ffffff;
  display: block;
  width: 100%
}

.nav-bar li:active {
  text-align: right;
  background: #2b2421;
  opacity: 0.8;
}

.nav-bar li:active a,
.nav-bar li:focus a {
  color: #ffffff;
  display: block;
  width: 100%
}

/* Here is the end of the hero unit, which is the cover page */

/* ================================================================ */

/* Content general */

.container {
  width: 100%;
  position: relative;
  height: auto;
  min-height: 200px;
  margin-top: 200px;
  margin-bottom: 200px;
}

.content {
  position: relative;
  width: 74%;
  left: 20%;
  height: auto;
  min-height: 200px;
}

.content h1 {
  margin-bottom: 10px;
}

.content img {
  width: 100%;
}

.section-break {
  border-top: 1px solid #2b2421;
  margin-bottom: 20px;

}
/* Content general ends*/

/* ================================================================ */

/* Here starts the portfolio section*/

#portfolio {
  width: 100%;
  height: auto;
  position: relative;
  margin-top: 200px;
}

#portfolio .container .content .col-md-4 {
  padding-right: 5px;
  padding-bottom: 5px;
}

/* This is the end the portfolio section*/

/* ================================================================ */

/* Here starts the vision section*/

#vision .container .content .col-md-6 {
  padding-top: 20px;
  padding-right: 20px;
}


/* This is the end the vision section*/

/* ================================================================ */

/* Here starts the profile section*/

#profile .container .content .col-md-12 {
  padding-top: 20px;
  padding-right: 20px;
}


/* This is the end the profile section*/

/* ================================================================ */

/* Here starts the contact section*/

#contact .container .content .col-md-4 {
  padding-top: 20px;
  padding-right: 20px;
  height: 190px;
}

#contact .container .content .col-md-8 {
  padding-top: 20px;
  padding-right: 20px;
  height: 190px;
}

#contact .container .content .col-md-8 p{
  line-height: 18px;
}

#contact .container .content .col-md-4 .col-md-3 {
  padding-top: 7px;
  padding-bottom: 3px;
  padding-right: 28px;
  opacity: 0.8;
}

#contact .container .content .col-md-4 .col-md-3 img {
  height: 57px;
  width: 57px;
}

#map_canvas {
  width: 500px;
  height: 400px;
}

/* This is the end the contact section*/

/* ================================================================ */
.copyright {
  width: 100%;
  height: 20px;
  position: relative;
  bottom: 5px;
}
/* ================================================================ */

.cd-container {
  width: 90%;
  max-width: 768px;
  margin: 2em auto;
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 20px;
  left: 45px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: #2b2421 url(images/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}