body {
  height: 100%;
  background-color: #f1f1f1;
}

h1 {
  font-family: Avenir Next, Helvetica Neue, Helvetica, sans-serif;
  font-size: 35px;
  font-weight: 100;
  text-align: left;
  color: #59463d;
  letter-spacing: 1px;
}

h3 {
  font-family: "HelveticaNeue-UltraLight", "Helvetica Neue UltraLight", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 100;
  font-size: 65px;
  text-align: left;
  color: #59463d;
}

h4 {
  font-family: Avenir Next, Helvetica Neue, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 18px;
  color: white;

}

h6 {
  font-family: Avenir Next, Helvetica Neue, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: 100;
  color: #ececec;
  opacity: 1;
  text-align: center;
}

p {
    font-family: Avenir Next, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
    color: white;
    opacity: 1;
    text-align: center;
}

/* This is the section for grids*/

.row {
  margin-bottom: 20px;
}

.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}

[class*="col-"] {
  padding-top: 0px;
  padding-bottom: 0px;
  border: none;
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

/* This is the end of grid section*/

.top-liner {
  display: inline-block;
  width: 100%;
  height: 3px;
  background-color: #59463d;
  margin: 0 0 0 0;
  position: relative;
  z-index: 999;
  padding: 0 0 0 0;
  top: -12px;
}

/* Here starts the hero unit, which is the cover page */

.hero-unit {
  width: 100%;
  height: 100%;
  min-height: 700px;
  position: relative;
  top: -20px;
  z-index: -999;
  background: #000000 url(images/cover.jpg) center top no-repeat;
  background-size: cover;
}

.menu {
  width: 147px;
  left: 40px;
  position: fixed;
  top: 60px;

}

.name {
  width: 100%;
  position: relative;
  height: 65px;
  border-top: 2px solid #59463d;
  border-bottom: 2px solid #59463d;
  opacity: 0.9;
}

.name h3 {
  position: relative;
  top: -25px;
}

.nav-bar {
  width: 187px;
  position: relative;
  left: -40px;
  top: 18px;
}

.nav-bar li {
  width: 147px;
  margin-top: 10px;
  margin-bottom: 10px;
  list-style-image: none;
  list-style-type: none;
  list-style-position: outside;
  cursor: pointer;
  display: list-item;
  font-family: Avenir Next, Helvetica Neue, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #59463d;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  line-height: 22px;
  opacity: 1;
}

.nav-bar li a {
  color: #59463d;
  opacity: 0.8;
  display: block;
  width: 100%
}

.nav-bar li:hover {
  text-align: right;
  background: #59463d;
  color: #ffffff;
  font-weight: 300;
  opacity: 1;
}

.nav-bar li:hover a{
  color: #ffffff;
  display: block;
  width: 100%
}

.nav-bar li:active {
  text-align: right;
  background: #59463d;
  opacity: 0.8;
}

.nav-bar li:active a,
.nav-bar li:focus a {
  color: #ffffff;
  display: block;
  width: 100%
}

/* Here is the end of the hero unit, which is the cover page */

/* ================================================================ */

/* Content general settings */

.container {
  position: relative;
  height: auto;
  min-height: 200px;
  margin-top: 200px;
  margin-bottom: 200px;
}

.content {
  position: relative;
  width: 80%;
  left: 25%;
  height: auto;
  min-height: 200px;
  border: 1px solid #ffffff;
}

/* Content general settings ends*/

/* ================================================================ */

/* Here starts the porfolio section*/

.porfolio {
  width: 100%;
  height: auto;
  position: relative;
  margin-top: 200px;
  left: 30%;
  background-color: #ececec;
}


/* This is the end the porfolio section*/

/* ================================================================ */

.copyright {
  width: 100%;
  height: 20px;
  position: relative;
  bottom: 5px;
}